// Width and height of button chance 
$widthChance: 210px;
$heightChance: 70px;
$buttonForeColor: white;
*{
    font-family: dosis;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 6, 19);    
}
// Display fixed use flex box
@mixin displayOrder {
    display: flex;
    flex-direction: column; 
}
// specified fore style 
@mixin foreStyle($btnBgColor, $fontSize, $fontFamily, $fontColor, $btnRadius) {
    background-color: $btnBgColor;
    font-size: $fontSize;
    font-family: $fontFamily;
    color: $fontColor;
    border-radius: $btnRadius;
    outline: none;
    border: none;
}
.holderNum{
    @include displayOrder();
    margin-top: 200px;
    align-items: center;
}
.increaser{
    color: white;
    font-size: 100px;
    align-self: center;
    text-align: center;
    position: fixed;
}
button{
    width: $widthChance;
    height: $heightChance;
    @include foreStyle(rgb(32, 168, 116), 20px, 'vazir', $buttonForeColor, 50px);
    margin-top: 150px;
    box-shadow: 0 0 20px  rgb(67, 141, 77);
    transition: 0.3s ease-in-out;
}
button:hover{
    background-color: transparent;
    border: 2px solid rgb(32, 168, 116);
    cursor: pointer;
}
#check{
    display: none;
}